<span class="w4g_rb-rating-page-named"></span>
<br>
<span id="w4g_rb_area-{{ $bid }}">{{ $rating_summary }}</span>
<script type="text/javascript">
//<![CDATA[
if (typeof(W4GRB) == "undefined") {
	window.W4GRB = new Object();
	W4GRB.average_rating = new Array();
	W4GRB.user_rating = new Array();
	W4GRB.pid = new Array();
	W4GRB.query_url = new Array();
}
W4GRB.average_rating[{{ $bid }}] = {{ $average_rating }};
W4GRB.user_rating[{{ $bid }}] = 0;
W4GRB.pid[{{ $bid }}] = {{ $page_obj->getPID() }};
W4GRB.query_url[{{ $bid }}] = "{{ $wgScriptPath }}/index.php?title={{ SpecialPage::getTitleFor('W4GRB') }}\x26bid={{ $bid }}\x26pid=" + W4GRB.pid[{{ $bid }}];
query2page(W4GRB.query_url[{{ $bid }}], "w4g_rb_area-{{ $bid }}", 2, {{ $bid }});
//]]>
</script>

<div class="rating_box" id="rating_box-{{ $bid }}">
	<div class="rating_target" id="rating_target-{{ $bid }}" onmouseout="updatebox('{{ $bid }}', W4GRB.user_rating[{{ $bid }}])">
		<div class="w4g_rb_nojs">&nbsp;{{ wfMessage('w4g_rb-error_need_js') }}</div>
	</div>
	<div class="rating_text">
		<div class="rating_text_text" id="rating_text-{{ $bid }}"></div>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
loadbox({{ $bid }});
updatebox({{ $bid }}, W4GRB.average_rating[{{ $bid }}]);
//]]>
</script>
